    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    img{
        width:700px;
        padding-right: 289px;
    }



    header .link{
        padding-left: 70%;
    }


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.menu ul li a:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Borda arredondada ao passar o mouse */
}

.link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link ul li {
    display: inline;
    margin-right: 20px;
}

.link ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.link ul li a:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Borda arredondada ao passar o mouse */
}

    footer {
        text-align: center;
        padding: 10px;
        background-color: #f1f1f1;
    }

    h1 {
        margin: 0;
    }

    main {
        display: flex;
        justify-content: center; /* Centraliza os elementos na horizontal */
        align-items: center; /* Centraliza os elementos na vertical */
        height: 100vh; /* Garante que o main ocupe toda a altura da viewport */
    }
    



    main .bemVindos p{
      
            font-size: 20px; /* Tamanho maior para o texto do parágrafo */
            line-height: 1.8; /* Espaçamento entre linhas */
            text-align: center; /* Centraliza o texto */
    }

    .bemVindos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 50px; /* Reduzi o padding-right para não distanciar muito do formulário */
    }
    
    form {
        display: flex;
        flex-direction: column;
        padding: 18px;
        max-width: 400px;
        width: 100%; /* Ocupa toda a largura máxima disponível */
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label, input, textarea, button {
        width: 100%; /* Ocupa toda a largura do formulário */
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 15px; /* Espaçamento inferior entre os elementos */
    }
    
    input[type="submit"], button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        width: auto; /* Redefine a largura para o tamanho padrão do conteúdo */
    }
    
    input[type="submit"]:hover, button:hover {
        background-color: #45a049;
    }

    main#paginaResultados {
        padding: 20px;
    }

    ul#organizacoesLista {
        list-style-type: none;
        padding: 0;
    }

    .doacao {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }

    .doacao h2 {
        margin-top: 0;
    }

    .doacao p {
        margin-bottom: 5px;
    }

    .mensagemDoacao {
        margin-top: 10px;
    }

    .btnVerde {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .btnVerde:hover {
        background-color: #45a049;
    }

    .btnExcluir{
        background-color: rgb(240, 41, 41);
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
    }

    .btnExcluir:hover{
        background-color: red;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .fechar {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .fechar:hover,
    .fechar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }



    #formDoacao {
        max-width: 600px;
        margin: 100px ;
        padding: 20px;
        
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para rótulos dos campos */
    #formDoacao label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    /* Estilo para os campos de entrada */
    #formDoacao input[type="text"],
    #formDoacao input[type="number"],
    #formDoacao input[type="date"] {
        width: calc(100% - 20px); /* Considerando o padding de 10px de cada lado */
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    /* Estilo para o botão de enviar */
    #formDoacao input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    #formDoacao input[type="submit"]:hover {
        background-color: #45a049;
    }

    /* Estilo para o campo de data de validade */
    #formDoacao input[type="date"] {
        width: 100%; /* Preencher todo o espaço disponível */
    }




html{
    height: 500vh;
}

.container{
    max-width: 1280px;
    margin: auto;
}


.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

header{
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;

}

header.rolagem{
    background-color: rgb(21, 21, 21);
    padding: 20px 4%;

}

header.rolagem a, header.rolagem i {
    color:rgb(255, 255, 255);
}

header svg {
    color: rgb(255, 255, 255);
    width: 34px;  /* Define a largura desejada */
    height: 35px; /* Define a altura desejada */
}

header ul{
    list-style-type: none;
    padding-right: 80 px;

    
}

header ul li{
    display: inline-block;
    margin: 0 40px;
    color: rgb(255, 255, 255);
    padding-right: 19px;

}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
    padding-right: 19px;

}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: transparent;
    border: 1px solid #f9f5f5;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    background-color: #ffffff36;
}


.banner{
    height: 100vh;
    background-image: url(/src/telas/closeup-diverse-people-joining-their-hands.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 4em;
    color: #ffffff;
}

.banner h1 span{
    color: green;
}
    