* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff; 
    color: #333; 
}

header {
    background-color: #f90; 
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
}

main {
    padding: 20px;
}

footer {
    background-color: #f90; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#formDoacao {
    max-width: 400px;
    margin: 0 auto;
}

#formDoacao label {
    display: block;
    margin-bottom: 5px;
}

#formDoacao input[type="text"],
#formDoacao input[type="number"],
#formDoacao input[type="date"],
#formDoacao textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#formDoacao button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f90; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formDoacao button:hover {
    background-color: #e68000; 
}

#organizacoesLista {
    list-style-type: none;
    background-color:aqua ;

    margin-top: 20px;
}

#organizacoesLista li {
    margin-bottom: 10px;
}

#organizacoesLista li h3 {
    background-color:aqua ;

    margin-bottom: 5px;
}

#organizacoesLista li p {
    background-color:aqua ;

    margin-bottom: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff; 
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fechar:hover,
.fechar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.btnVerde {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnVerde:hover {
    background-color: #45a049; 
}
